{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken 4">
                    Add Recipe
                </h3>
                <div class="row">
                    <form class="col s12" method="GET" action="">
                        <!-- GET the dish from the database -->
                        <div class="input-field">
                            <select id="dish_name" name="dish_name" class="validate" required>
                            <option value="" disabled selected>Choose your Dish</option>
                            {% for dish in dish %}
                                <option value="{{ dish.dish_name }}">{{ dish.dish_name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <!-- GET the ingredients from the database -->
                        <div class="input-field validate" required>
                            <select multiple id="ingredients" name="ingredients" class="validate" required>
                            <option value="" disabled selected>Choose the Ingredients</option>
                            {% for ingredients in ingredients %}
                                <option value="{{ ingredients.ingredients }}">{{ ingredients.ingredients }}</option>
                                <option value="{{ ingredients.ingredients }}">{{ ingredients.ingredients }}</option>
                                <option value="{{ ingredients.ingredients }}">{{ ingredients.ingredients }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </form>
                    <form class="col s12" method="POST" action="">
                        <!-- POST the name of the dish to the database -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="plate_name" name="plate_name" minlength="5" maxlength="50"
                                    type="text" class="validate" required>
                                <label for="plate_name">Plate Name</label>
                            </div>
                        </div>
                        <!-- POST the preparation of the dish to the database -->
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="preparation" name="preparation" minlength="5"
                                    maxlength="9999" class="materialize-textarea validate" required></textarea>
                                <label for="preparation">Preparation</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div >
    </div>

    

{% endblock %}