{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">{{ username }}'s Profile</h3>

    {% for recipe in profile %}
        {{ recipe.dish_name }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.plate_name }}<br>
        {{ recipe.preparation }}<br>
    {% endfor %}    

    <div class="container-fluid">
        <div class="row">
            {% for recipe in profile %}
                {% if session.user|lower == recipe.created_by|lower or session.user|lower == "admin"|lower %}
                    <div class="col m4 sm6">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://yummycravingsmagazine.files.wordpress.com/2013/02/pasta-puttanesca.jpg">
                                    <span class="card-title">
                                    <strong>{{ recipe.plate_name }}</strong>
                                    </span>
                            </div>
                            <div class="card-content">
                                <p>{{ recipe.ingredients }}</p>
                                <p><em>by: {{ recipe.created_by }}</em></p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                            <div class="row">
                                <div class="col sm3">                                
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect blue btn-small asd">
                                        <i class="material-icons right">edit</i>Edit</a>
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect red btn-small asd">
                                        <i class="material-icons right">cancel</i>Delete</a>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}