{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken 4">
                    All Recipes
                </h3>                    
            </div>
        </div >
    </div>

    {% for recipe in recipe %}
        {{ recipe.dish_name }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.plate_name }}<br>
        {{ recipe.preparation }}<br>
    {% endfor %}

    
        <div class="container-fluid">
            <div class="row">
                {% for recipe in recipe %}
                    <div class="col m4 sm6">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://yummycravingsmagazine.files.wordpress.com/2013/02/pasta-puttanesca.jpg">
                                    <span class="card-title">
                                    <strong>{{ recipe.plate_name }}</strong>
                                    </span>
                            </div>
                            <div class="card-content">
                                <p>{{ recipe.ingredients }}</p>
                                <p><em>by: {{ recipe.created_by }}</em></p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                            <div class="row">
                                <div class="col sm3">
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect blue btn-small asd">
                                        <i class="material-icons right">edit</i>Edit</a>
                                    <a href="" class="waves-effect red btn-small asd">
                                        <i class="material-icons right">cancel</i>Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    

 {% endblock %}